body {
	padding: 5px 10px 0 10px;
}

button {
	margin: 10px 0 !important;
}

i {
	background-image: url("../icons/glyphicons.png");
	margin-top: 2px;
}

.container {
	width: 300px;
}

button.span4 {
	height: 220px;
}

.span2 + .span2 {
	text-align: right;
}