body {
	height: 200px;
	margin: 5px;
	width: 200px;
}

button {
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	border-radius: 50%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	color: #FFF;
	cursor: pointer;
	font: bold 24px "Arial", sans-serif;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}
button:active {
	background-image: none;
	box-shadow: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

#activate-morphine {
	background-color: #2DAEBF;
	height: 200px;
	width: 200px;
}

#activate-options {
	background: url("../icons/gear.png") no-repeat;
	height: 48px;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 48px;
}

#activate-uber {
	background-color: #F00;
	bottom: 3px;
	height: 75px;
	position: absolute;
	right: 3px;
	width: 75px;
}