body {
	margin: 0px 20px;
}

html {
	align-items: center;
	display: flex;
	flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

input[type="range"] {
	width: 100%;
}

label {
	margin-top: 4px;
}

.alert {
	display: none;
	margin-top: 9px;
}

.thumbnails {
	margin-bottom: 0;
}

.thumbnail > hr {
	margin: 9px 0;
}
.thumbnail > .caption {
	padding-bottom: 0;
}
