a:hover {
	cursor: pointer;
	text-decoration: unset;
}

body {
	padding: 5px 10px 0 10px;
}

button {
	height: 60px;
	margin: 10px 0 !important;
}

.btn-tall {
	height: 140px;
}

.container {
	width: 450px;
}

#url, #speedball {
	display: none;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;

	margin-top: 10px;
}
#speedball {
	font-weight: bold;
}
.balance {
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 16px;
}

.buttons button {
	margin-right: 10px !important;
}