body {
	padding: 5px 10px 0 10px;
}

button {
	height: 60px;
	margin: 10px 0 !important;
}

.container {
	width: 300px;
}

.align-right {
	text-align: right;
}

.btn-tall {
	height: 140px;
}

#url {
	display: none;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#url-rule {
	border-bottom: 1px dotted;
}